@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bagel+Fat+One&family=Cherry+Bomb+One&family=Coral+Pixels&family=DynaPuff:wght@400..700&family=Fuzzy+Bubbles:wght@400;700&family=Gabriela&family=Hachi+Maru+Pop&family=Hahmlet:wght@100..900&family=Honk&family=Julee&family=Monoton&family=Nabla&family=Ojuju:wght@200..800&family=Orbitron:wght@400..900&family=Playwrite+HU:wght@100..400&family=Playwrite+MX+Guides&family=Rubik+Pixels&family=Rubik+Wet+Paint&family=Slackside+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

.titulo_torajo {
  font-family: "Fuzzy Bubbles", sans-serif;
}

.paragrafo_torajo {
  font-family: "Hachi Maru Pop", cursive;
}

.personagens {
  text-align: center;
}

.titulo_morajo {
  font-family: "Audiowide", sans-serif;
}

.paragrafo_morajo {
  font-family: "Orbitron", sans-serif;
}

.titulo_zulmi {
  font-family: "Monoton", sans-serif;
}

.paragrafo_zulmi {
  font-family: "Ojuju", sans-serif;
}

.titulo_linn {
  font-family: "Bagel Fat One", system-ui;
}

.paragrafo_linn {
  font-family: "Hahmlet", serif;
}

.titulo_azedo {
  font-family: "DynaPuff", system-ui;
}

.paragrafo_azedo {
  font-family: "Cherry Bomb One", system-ui;
}

.titulo_pessy {
  font-family: "Playwrite HU", cursive;
}

.paragrafo_pessy {
  font-family: "Playwrite MX Guides", cursive;
}

.titulo_algorithomus {
  font-family: "Rubik Pixels", system-ui;
}

.paragrafo_algorithomus {
  font-family: "Rubik Wet Paint", system-ui;
}

.titulo_jay {
  font-family: "Julee", cursive;
}

.paragrafo_jay {
  font-family: "Slackside One", cursive;
}

.titulo_margo {
  font-family: "MedievalSharp", cursive;
}

.paragrafo_margo {
  font-family: "Delius Swash Caps", cursive;
}

.titulo_abel {
  font-family: "Honk", system-ui;
}

.paragrafo_abel {
  font-family: "Bungee Spice", sans-serif;
}

.colornav_index {
  background-color: rgb(98, 240, 98);
}

.fundo_index {
  background-image: url('imagens/fundomundo.png');
}

.colornav_morajo {
  background-color: rgb(255, 57, 57);
}

.fundo_morajo {
  background-image: url('imagens/fundomorajo.png');
  background-size: cover;
}

.colornav_linn {
  background-color: #fffd95;
}

.fundo_linn {
  background-image: url('imagens/fundolinn.png');
  background-size: cover;
}

.colornav_margo {
  background-color: #f84c9c;
}

.fundo_margo {
  background-image: url('imagens/fundomargo.png');
  background-size: cover;
}

.colornav_algorithomus {
  background-color: #000000;

}

.versao_escuro a {
  color: #fefefe;
}

.versao_escuro a,
.versao_escuro:focus a,
.versao_escuro:active a {
  color: white !important;
  outline: none;
}

.versao_escuro a:hover {
  background-color: #ffffff1c;
}

.fundo_algorithomus {
  background-image: url('imagens/fundopessy.png');
  background-size: cover;
}

.colornav_pessy {
  background-color: #eb9545;
}

.fundo_pessy {
  background-image: url('imagens/fundopessy.png');
  background-size: cover;
}

.colornav_jay {
  background-color: #4b105e;
}

.fundo_jay {
  background-image: url('imagens/fundojay.png');
  background-size: cover;
}

.colornav_azedo {
  background-color: #105e24;
}

.fundo_azedo {
  background-image: url('imagens/fundoazedo.png');
  background-size: cover;
}

.colornav_abel {
  background-color: #42b3ff;
}

.fundo_abel {
  background-image: url('imagens/fundoabel.png');
  background-size: cover;
}

.colornav_zulmi {
  background-color: #140885;
}

.fundo_zulmi {
  background-image: url('imagens/fundozulmi.png');
  background-size: cover;
}

.colornav_torajo {
  background-color: #38cf72;
}

.fundo_torajo {
  background-image: url('imagens/fundotorajo.png');
  background-size: cover;
}

.texto_personagens {
  background-color: #fffffff8;
  padding: 1%;
  border-radius: 10px;
  margin-top: 10px;
}

/* MARGO

TITULO
.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

PARAGRAFO
.delius-swash-caps-regular {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}
*/

/* FONTES POR PERSONAGEM */
/* Algorithomus 
.rubik-pixels-regular {
  font-family: "Rubik Pixels", system-ui;
  font-weight: 400;
  font-style: normal;
}

.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-wet-paint-regular {
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}

*/

/* MORAJO

TITULO
.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

PARAGRAFO
.orbitron-<uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

/* AZEDO

TITULO
.dynapuff-<uniquifier> {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

PARÁGRAFO
.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

*/

/* PESSY
TÍTULO
.playwrite-hu-<uniquifier> {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

PARÁGRAFO
.playwrite-mx-guides-regular {
  font-family: "Playwrite MX Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

*/

/* TORAJO

TITULO
.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

PARAGRAFO
.hachi-maru-pop-regular {
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
}
*/

/* JAY

TITULO
.julee-regular {
  font-family: "Julee", cursive;
  font-weight: 400;
  font-style: normal;
}

PARÁGRAFO
.slackside-one-regular {
  font-family: "Slackside One", cursive;
  font-weight: 400;
  font-style: normal;
}
*/

/* LINN
TITULO
.bagel-fat-one-regular {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}

PARAGRAFO
.hahmlet-<uniquifier> {
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

/* ZULMI

TITULO
.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

PARAGRAFO
.ojuju-<uniquifier> {
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

/* ABEL 

TITULO
.honk-<uniquifier> {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

PARAGRAFO
.nabla-<uniquifier> {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

*/